<ion-header>
    <ion-toolbar>
        <ion-row>
          <ion-col size="2">
            <ion-buttons>
              <ion-icon name="ios-arrow-back" (click)="goback()"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col size="8">
            <h1 style="font-size: 2.3vh;" id="main-header">Allgemeine Geschäftsbedingungen</h1>
          </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <br>
      <h3 style="text-align: center;">Allgemeine Geschäftsbedingungen</h3>
      <p style="text-align: center;"><b>1.</b> GeltungsbereichFür alle Bestellungen über unseren Online-Shop gelten die nachfolgenden AGB.</p>
      <p style="text-align: center;"><strong>2. Vertragspartner, Vertragsschluss</strong> Der Kaufvertrag kommt zustande mit Pizzeria LA-Trat-Toria.</p>
      <p style="text-align: center;">Die Darstellung der Produkte im Online-Shop stellt kein rechtlich bindendes Angebot, sondern einen unverbindlichen Online-Katalog dar. Sie können unsere Produkte zunächst unverbindlich in den Warenkorb legen und Ihre Eingaben vor Absenden Ihrer verbindlichen Bestellung jederzeit korrigieren, indem Sie die hierfür im Bestellablauf vorgesehenen und erläuterten Korrekturhilfen nutzen. Durch Anklicken des Bestellbuttons geben Sie eine verbindliche Bestellung der im Warenkorb enthaltenen Waren ab.</p>
      <p style="text-align: center;">Ein bindender Vertrag kann auch bereits zuvor wie folgt zustande kommen:</p>
      <ul style="text-align: center;">
      <li>Wenn Sie die Zahlungsart PayPal gewählt haben, kommt der Vertrag zum Zeitpunkt Ihrer Bestätigung der Zahlungsanweisung an PayPal zustande.</li>
      </ul>
      <p style="text-align: center;"><strong>3. Lieferbedingungen</strong><br />Wir liefern innerhalb unser Liefergebietes die Sie im Bestellsprozess wählen. Außerhalb unser Liefergebiet wird nicht geliefert.</p>
      <p style="text-align: center;">Wir liefern nicht an Packstationen.</p>
      <p style="text-align: center;"><strong>4. Bezahlung</strong><br />In unserem Shop stehen Ihnen die folgenden Zahlungsarten zur Verfügung:</p>
      <p style="text-align: center;"><strong>Paypal</strong><br />Sie bezahlen den Rechnungsbetrag über den Online-Anbieter Paypal. Sie müssen grundsätzlich dort registriert sein bzw. sich erst registrieren, mit Ihren Zugangsdaten legitimieren und die Zahlungsanweisung an uns bestätigen (Ausnahme ggf. Gastzugang). Weitere Hinweise erhalten Sie beim Bestellvorgang.</p>
      <p style="text-align: center;"><strong>Widerrufsbelehrung</strong><strong>Widerrufsrecht</strong><br />Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.<br />Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag,</p>
      <p style="text-align: center;">– an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die Waren in Besitz genommen haben bzw. hat, sofern Sie eine oder mehrere Waren im Rahmen einer einheitlichen Bestellung bestellt haben und diese einheitlich geliefert wird bzw. werden;</p>
      <p style="text-align: center;">– an dem Sie oder ein von Ihnen benannter Dritter, der nicht der Beförderer ist, die letzte Ware in Besitz genommen haben bzw. hat, sofern Sie mehrere Waren im Rahmen einer einheitlichen Bestellung bestellt haben und diese getrennt geliefert werden;</p>
      <p style="text-align: center;">Um Ihr Widerrufsrecht auszuüben, müssen Sie uns <strong>(Pizzeria La Trat-Toria, Zerzabelshofstr. 60, 90480 Nürnberg, Telefonnummer: 0911-401480,  E-Mail-Adresse: info@la-trat-toria.de)</strong> mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.</p>
      <p style="text-align: center;">Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.</p>
      <p style="text-align: center;"><strong>Folgen des Widerrufs</strong><br />Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.</p>
      <p style="text-align: center;">Wir können die Rückzahlung verweigern, bis wir die Waren wieder zurückerhalten haben oder bis Sie den Nachweis erbracht haben, dass Sie die Waren zurückgesandt haben, je nachdem, welches der frühere Zeitpunkt ist.</p>
      <p style="text-align: center;">Sie haben die Waren unverzüglich und in jedem Fall spätestens binnen vierzehn Tagen ab dem Tag, an dem Sie uns über den Widerruf dieses Vertrags unterrichten, an uns zurückzusenden oder zu übergeben. Die Frist ist gewahrt, wenn Sie die Waren vor Ablauf der Frist von vierzehn Tagen absenden.</p>
      <p style="text-align: center;">Sie tragen die unmittelbaren Kosten der Rücksendung der Waren.</p>
      <p style="text-align: center;">Sie müssen für einen etwaigen Wertverlust der Waren nur aufkommen, wenn dieser Wertverlust auf einen zur Prüfung der Beschaffenheit, Eigenschaften und Funktionsweise der Waren nicht notwendigen Umgang mit ihnen zurückzuführen ist.</p>
      <p style="text-align: center;"><strong>Ausschluss- bzw. Erlöschensgründe</strong></p>
      <p style="text-align: center;">Das Widerrufsrecht besteht nicht bei Verträgen</p>
      <p style="text-align: center;">– zur Lieferung von Waren, die nicht vorgefertigt sind und für deren Herstellung eine individuelle Auswahl oder Bestimmung durch den Verbraucher maßgeblich ist oder die eindeutig auf die persönlichen Bedürfnisse des Verbrauchers zugeschnitten sind;<br />– zur Lieferung von Waren, die schnell verderben können oder deren Verfallsdatum schnell überschritten würde;<br />– zur Lieferung alkoholischer Getränke, deren Preis bei Vertragsschluss vereinbart wurde, die aber frühestens 30 Tage nach Vertragsschluss geliefert werden können und deren aktueller Wert von Schwankungen auf dem Markt abhängt, auf die der Unternehmer keinen Einfluss hat;<br />– zur Lieferung von Zeitungen, Zeitschriften oder Illustrierten mit Ausnahme von Abonnement-Verträgen.</p>
      <p style="text-align: center;">Das Widerrufsrecht erlischt vorzeitig bei Verträgen</p>
      <p style="text-align: center;">– zur Lieferung versiegelter Waren, die aus Gründen des Gesundheitsschutzes oder der Hygiene nicht zur Rückgabe geeignet sind, wenn ihre Versiegelung nach der Lieferung entfernt wurde;<br />– zur Lieferung von Waren, wenn diese nach der Lieferung aufgrund ihrer Beschaffenheit untrennbar mit anderen Gütern vermischt wurden;<br />– zur Lieferung von Ton- oder Videoaufnahmen oder Computersoftware in einer versiegelten Packung, wenn die Versiegelung nach der Lieferung entfernt wurde.</p>
      <p style="text-align: center;"><strong>Muster-Widerrufsformular</strong><br /><i>(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)</i>– Pizzeria La Trat-Toria, Zerzabelshofstr. 60, 90480 Nürnberg, info@la-trat-toria.de, Telefon: 0911-401480, – Hiermit widerrufe(n)
       ich/wir (*)
       den von mir/uns (*)
       abgeschlossenen Vertrag über den Kauf der folgenden<br />Waren ()/die Erbringung der folgenden Dienstleistung ()– Bestellt am ()/erhalten am ()– Name des/der Verbraucher(s)– Anschrift des/der Verbraucher(s)– Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)– Datum<i>(*)
       Unzutreffendes streichen.</i></p>
  </div>

</ion-content>
