ion-toolbar{
    --background:  rgb(190, 34, 34);
    font-family: 'CHEESEPIZZA';
    ion-icon{
        color:white;
        font-size: 26px;
    }
}

ion-content{
    height: 100%;
    width: 100%;
    --background: url("../../../assets/imgs/background1.png");
    font-family: 'CHEESEPIZZA';
}

ion-title{
    color: white;
    font-family: 'CHEESEPIZZA';
}

.container{
    height: 100%;
    width: 100%;
    font-family: 'CHEESEPIZZA';
}
.terms{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: 20px;
    }
    hr{
        height: .8px;
        background-color: black;
        opacity: 0.6;
    }
}
.about{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    h2{
        font-size: 20px;
    }
    hr{
        height: .8px;
        background-color: black;
        opacity: 0.6;
    }
}