<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deals">
      <ion-icon name="ios-apps"></ion-icon>
      <ion-label>Deals</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="fooditems">
      <ion-icon name="ios-list"></ion-icon>
      <ion-label>Food Items</ion-label>
    </ion-tab-button> -->


    <ion-tab-button tab="cart">
        <ion-badge id="notifications-badge" color="primary">{{cartItems}}</ion-badge>
      <ion-icon name="md-cart"></ion-icon>
      <ion-label>Cart</ion-label>
    </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

