<ion-app>
  <ion-split-pane when="(min-width: 1600px)">
   
    <ion-menu class="menu" type="overlay" mode="ios"> 
     
     <ion-content>
       <div class="menu-container">
        <div class="logo">
          <img src="assets/imgs/App Logo.png">
        </div>
        <hr>
        <div class="menu-items">
         <ion-row>

          <ion-col (click)="home()">
            <ion-icon name="ios-home"></ion-icon>
            <p>Home</p>
          </ion-col>
          
          <ion-col (click)="order()" >
            <ion-icon name="hourglass"></ion-icon>
            <p>Order History</p>
          </ion-col>

          </ion-row>
          <ion-row>
           
              <ion-col (click)="about()">
                  <ion-icon name="pin"></ion-icon>
                  <p>About Us</p>
              </ion-col>
              
              <ion-col (click)="info()" >
                  <ion-icon name="ios-information-circle-outline"></ion-icon>
                  <p>Info</p>
              </ion-col>
    
              </ion-row>
        </div>
      </div>
      </ion-content>
    
    </ion-menu>
   
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
