ion-toolbar{
  --background: rgb(190, 34, 34);
  font-family: 'BubblegumSans-Regular';
}
ion-title{
  --color: white;
  
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
ion-menu-button{
  color: white;
}
.container{
  height: 100%;
  width: 100%;
  background-image: url('../../../assets/imgs/background1.png');
}
.body{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.pizza{
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 95%;
  display: block;
  img{
    width: 100%;
    height: 300px;
    padding: 2%;
    border-radius: 5%;
  }
}
.pizza .caption{
  min-height: 50px;
  min-width: 328px !important;
  max-width: 96.6% !important;
  background: white;
  position: relative;
  border-radius: 10px;
  top: -16%;
  margin: 0 auto;
  // max-height: 100%;
  h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5rem;
    text-align: center; 
    // margin-top: -5%;
    // margin-bottom: 0%;
    word-break: keep-all;
    margin-top: auto;
    padding-top: 10px;
    
  }
}
// @media (min-width: 320px) and  (max-width: 350px){
//   .caption{
//     margin-top: -20% !important;
//     z-index: 111;
//     background: #DED7CF;
//     color: black;
//     opacity: 0.8;
//     font-size: 20px !important;
//     font-weight: bold;
//     font-family: "Comic Sans MS", cursive, sans-serif;
//     width: 45%;
//     text-align: center;
//   }
// }
@media (min-width: 500px) and  (max-width: 780px){
  .body{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  .caption
  {min-height: 50px; max-height: 100%; margin-top: -4px; padding-top: 8px;
  //   min-width: 100% !important;
  // max-width: 100% !important;
}
}
}
@media (min-width: 800px) and  (max-width: 1200px){
  .body{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  .caption
  {min-height: 50px; max-height: 100%;
  //   min-width: 100% !important;
  // max-width: 100% !important;
   padding-top: 8px;
  h1{
    font-size: 36px;
  }
}
}
}
@media (min-width: 1266px) and  (max-width: 1800px){
  .body{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  .caption
  {min-height: 50px; max-height: 100%; padding-top: 8px; letter-spacing: 4px; 
  //   min-width: 100% !important;
  // max-width: 100% !important;
}
}
}