ion-toolbar{
    --background: rgb(190, 34, 34);
    color: white;
    #back{
        margin-left: auto;
        margin-right: auto;
        font-size: 22px;
    }
  }
  ion-title{
    --color: white;
    margin-left: auto;
    margin-right: auto;

  }
ion-content{
    height: 100%;
    width: 100%;
    --background: url("../../../assets/imgs/background1.png");
}
.body{
    width: 100%;
    height: 100%;
    
    
    h1{
        font-size: 18px;
        margin-top: 10%;
        text-align: center;
    }

    .item #sep{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        height: 0.325%;
        opacity: 0.6;
        visibility: visible;
        z-index: 111;
    }
}
#text{
    h3{
        font-size: 18px;
        color: rgb(190, 34, 34);
        margin-top: -2%;
    }
    p{
        font-size: 14px;
        margin-top: -2%;
    }
}
#add{
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
}
#remove{
    font-size: 28px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}
.body #btncheck{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 8%;
    --background: rgb(190, 34, 34);
}

#checkbox{
    width: 80%;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    ion-checkbox{
        margin-left: 5%;
        margin-top: 4%;
        margin-right: 4%;
        height: 20px;
        width: 20px;    
    }
    p{
        font-size: 14px;
    }
}