<ion-header style="z-index: -1;">
    <ion-toolbar>
        <ion-row>
          <ion-col size="2" id="back">
            <ion-buttons>
              <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
            </ion-buttons>
          </ion-col>
          <ion-col size="7">
            <ion-title>
              Cart
            </ion-title>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <h1><b style="color:rgb(190, 34, 34)">Total</b> : {{total | number : '1.2'}} &euro;</h1>
    <img src="assets/imgs/discount.png" style="float: left; width: 70px; position: fixed; right: 10px; top: 38px; z-index: 100;">
    <div class="item">
    <hr id="sep">

    <ion-row *ngFor="let item of cart; let i = index;">
      <ion-col size="3">
        <img src="{{item?.imageURL}}">
      </ion-col>
      <ion-col size="7" id="text">
        <h3>{{item?.itemTitle}}</h3>
        <p>{{item?.itemIngredients}}</p>
        <p *ngIf="item.extras.length > 0">{{item?.extras}}</p>
        <p><b style="color:rgb(190, 34, 34); margin-right: 15%;">{{item?.price}} &euro;</b><b style=" margin-right: 15%;">{{item?.size}}</b><b style="color:rgb(190, 34, 34);" (click)="delete(i)" >Delete</b></p>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="add-circle-outline" id="add" (click)="addToQuantity(i)" ></ion-icon>
        <p style="margin: 0 0 0 0; padding-left: 9px;">{{item?.quantity}}</p>
        <ion-icon name="remove-circle-outline" id="remove" (click)="removeFromQuantity(i)" ></ion-icon>
      </ion-col>
      <hr id="sep">
    </ion-row>


</div>

    <ion-row id="checkbox"><ion-checkbox mode="ios" [(ngModel)]="terms" color="danger"></ion-checkbox ><p (click)="changeStatus()">I agree with Terms and Conditions</p></ion-row>
    
    <ion-button expand="full" id="btncheck" slot="end" color="danger" (click)="checkout()" >Check Out</ion-button>

  </div>
</ion-content>
