<ion-header style="z-index: -1;">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Warenkorb
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <h1><b style="color:rgb(190, 34, 34)">Total</b> : {{total | number : '1.2-2'}} &euro;</h1>
    <img id="disc" src="assets/imgs/discount.png" >
    <div class="item">
    <hr id="sep">
      
    <ion-row *ngFor="let item of cart; let i = index;">
      <ion-col size="1">
        <!-- <img src="{{item?.imageURL}}"> -->
        &nbsp;
      </ion-col>
      <ion-col size="9" id="text">
        <h3>{{item?.itemTitle}}</h3>
        <p>{{item?.itemIngredients}}</p>
        <p *ngIf="item.extras.length > 0">{{item?.extras}}</p>
        <p><b  id="price" style="color:rgb(190, 34, 34); margin-right: 5%;">{{item?.price | number : '1.2-2'}}&nbsp;&euro;</b><b style=" margin-right: 5%;">{{item?.size}}</b><b style="color:rgb(190, 34, 34);" (click)="delete(i)" >Löschen</b></p>
      </ion-col>
      <ion-col class="counter" size="2">
        <ion-icon name="add-circle-outline" id="add" (click)="addToQuantity(i)" ></ion-icon>
        <p style="margin: 0 0 0 0; padding-left: 9px;">{{item?.quantity}}</p>
        <ion-icon name="remove-circle-outline" id="remove" (click)="removeFromQuantity(i)" ></ion-icon>
      </ion-col>
      <hr id="sep">
    </ion-row>


</div>

    <ion-row *ngIf="cart.length > 0" id="checkbox" style="width: 100%;">
      <ion-col size="1">
          <ion-checkbox mode="ios" [(ngModel)]="terms" color="danger"></ion-checkbox >
      </ion-col>
      <ion-col size="11">
          <p ><a routerLink="/terms">Allgemeine Geschäftsbedingungen</a><span (click)="changeStatus()">, Verkaufs- und Lieferbedingungen akzeptieren</span></p>
      </ion-col></ion-row>
    <br>
    <ion-button *ngIf="cart.length > 0" expand="full" color="danger" id="btncheck" slot="end" (click)="checkout()" >Zur Kasse</ion-button>

  </div>
</ion-content>
