ion-toolbar{
  --background: rgb(190, 34, 34);
  
}
#main-header{
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-size: 22px;
}

ion-icon{
  color: white;
  font-size: 24px;
  margin-left: 10%;
  padding-top: 2%;
}
#cart-icon{
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 2em;
  z-index: 5;
}
.container{
  height: 100%;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.body{
  height: 100%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  .upper-div{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40%;
    background-color: white;
    margin-top: 5%;
    border-radius: 20px;
    img{
      border-radius: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 85% !important;
      width: 60% !important;
      padding-top: 10PX;
    }
    .icon-div{
      margin-left: 75%;
      padding-top: 5%;
      #share{
        font-size: 26px;
        font-weight: bold;
        color: gray;
        margin-left: 50% !important;
      }
    }

  }

  .body-content{
    height: 60%;
    width: 100%;
    h2{
      text-align: center;
      color: rgb(190, 34, 34);
      font-size: 18px;
    }
    p{
      text-align: center;
      font-size: 14px;
    }
    hr{
      background-color: white;
      height: 1px;
      opacity: 0.8;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      visibility: visible;
    }
    .size{
      #size-tag{
        margin-top: 0%;
        margin-bottom: 0%;
      }
      #size-tag1{
        margin-top: 0%;
        margin-bottom: 0%;
        text-align: left;
      }
      ion-radio{
        --color-checked: rgb(190, 34, 34);
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      ion-item{
        --background: none;
      }
      
    }
    .div-circle{
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      border: solid;
      border-width: 1px;
      border-color: green;
      border-radius: 50px;
      height: 30px;
      width: 30px;
      padding: 5%;
    }
    .counter{
      text-align: center;
      font-size: 20px !important;
      vertical-align: middle;
    }
    .footer p{
      opacity: 0.8;
      text-align: center;
      font-size: 16px;  
    }
    .btn-cart{
      margin-top: 35%;
      height: 100%;
      width: 70%;
      --background: rgb(190, 34, 34);
      --border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      ion-icon{
        margin-left: auto;
        margin-right: auto;
      }
    }
    #extra-p{
      height: 20%;
      font-weight: bolder !important;
    }
  }
}

.quantity{
  display: block;
}

#notifications-badge{
  position: absolute;
  left: 55%;
  bottom: 25px;
  z-index: 10;
}

@media (min-width: 480px) and  (max-width: 740px){
  h2{
    text-align: center;
    color: rgb(190, 34, 34);
    font-size: 30px !important;
  }
  p{
    text-align: center;
    font-size: 24px !important;
  }
  .size{
    #size-tag{
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 24 px !important;
    }
    #size-tag1{
      margin-top: 0%;
      margin-bottom: 0%;
      text-align: left;
      font-size: 24px !important;
    }
  }
  ion-radio{
    --color-checked: rgb(190, 34, 34);
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    display: block;
  }
  .btn-cart{
    margin-top: 35%;
    height: 80px !important;
    width: 50% !important;
    --background: rgb(190, 34, 34);
    --border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ion-icon{
      margin-left: auto;
      margin-right: auto;
      font-size: 26px !important;
    }
  }
}

@media (min-width: 760px) and  (max-width: 1020px){
 .body{
   .upper-div{
     height: 50% !important;
     width: 80%;
     img{
       height: 60%;
     }
   }
 }
  h2{
    text-align: center;
    color: rgb(190, 34, 34);
    font-size: 32px !important;
  }
  p{
    text-align: center;
    font-size: 28px !important;
  }
  .size{
    height: 100px;
    #size-tag{
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 25px !important;
    }
    #size-tag1{
      margin-top: 0%;
      margin-bottom: 0%;
      text-align: left;
      font-size: 24px !important;
    }
    .counter{
      text-align: center;
      vertical-align: middle;
     
      h2{font-size: 3rem !important;
        }
    }
  }
  ion-radio{
    --color-checked: rgb(190, 34, 34);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4%;
  }
  .btn-cart{
    margin-top: 35%;
    height: 100px !important;
    width: 50% !important;
    --background: rgb(190, 34, 34);
    --border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ion-icon{
      margin-left: auto;
      margin-right: auto;
      font-size: 36px !important;
    }
  }
}

@media (min-width: 1024px) and  (max-width: 1360px){
  .body{
    .upper-div{
      height: 40% !important;
      width: 80%;
      img{
        height: 60%;
      }
    }
  }
  h2{
    text-align: center;
    color: rgb(190, 34, 34);
    font-size: 40px !important;
  }
  p{
    text-align: center;
    font-size: 30px !important;
  }
  .size{
    height: 100px;
    #size-tag{
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 30px !important;
    }
    #size-tag1{
      margin-top: 0%;
      margin-bottom: 0%;
      text-align: left;
      font-size: 30px !important;
    }
  }
  ion-radio{
    --color-checked: rgb(190, 34, 34);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4%;
  }
  .btn-cart{
    margin-top: 35%;
    height: 150px !important;
    width: 50% !important;
    --background: rgb(190, 34, 34);
    --border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ion-icon{
      margin-left: auto;
      margin-right: auto;
      font-size: 45px !important;
    }
  }
  .counter{
    text-align: center;
    font-size: 30px !important;
    vertical-align: middle;
  }
}


@media (min-width: 1364px) and  (max-width: 1520px){
  .body{
    .upper-div{
      height: 50% !important;
      width: 70%;
      img{
        height: 60%;
      }
    }
  }
  h2{
    text-align: center;
    color: rgb(190, 34, 34);
    font-size: 40px !important;
  }
  p{
    text-align: center;
    font-size: 30px !important;
  }
  .size{
    height: 100px;
    #size-tag{
      margin-top: 0%;
      margin-bottom: 0%;
      font-size: 30px !important;
    }
    #size-tag1{
      margin-top: 0%;
      margin-bottom: 0%;
      text-align: left;
      font-size: 30px !important;
    }
  }
  ion-radio{
    --color-checked: rgb(190, 34, 34);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 4%;
  }
  .btn-cart{
    margin-top: 35%;
    height: 150px !important;
    width: 50% !important;
    --background: rgb(190, 34, 34);
    --border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    ion-icon{
      margin-left: auto;
      margin-right: auto;
      font-size: 45px !important;
    }
  }
  .counter{
    text-align: center;
    font-size: 30px !important;
    vertical-align: middle;
  }
}