<ion-header>
    <ion-toolbar>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-icon name="ios-arrow-back" (click)="goback()"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <h1 id="main-header">Food Details</h1>
        </ion-col>
        <!-- <ion-col size="2">
            <ion-badge id="notifications-badge" color="primary">{{cartItems}}</ion-badge>
            <ion-icon name="md-cart" id="cart-icon"  (click)="openCart()"></ion-icon>
        </ion-col> -->
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="body">
    
    <div class="upper-div">
        <div class="icon-div">
          <!-- <ion-icon name="MD-share" id="share"></ion-icon> -->
        </div>
        <img src="{{image}}" >
    </div>

    <div class="body-content">
      <h2>{{product?.title}}</h2>
      <p>{{product?.ingredients}}</p>
      <p style="letter-spacing: 1px;
      color: #696969;
      font-weight: bold;">{{product?.info}}</p>
      <hr>
      <div class="size" *ngIf="type === 'pizza'"> 
        <ion-radio-group>
        <ion-row *ngFor="let item of product.size; let i = index">
          <ion-col size="2" no-padding>
              <ion-radio mode="md" (click)="sizeChanged(item,product.price[i])"></ion-radio>
          </ion-col>
          <ion-col size="7" no-padding>
            <p id="size-tag1">{{item}}</p>
          </ion-col>
          <ion-col size="3" no-padding>
            <p id="size-tag">{{product.price[i]}} &euro;</p>
          </ion-col>
          <br> <br>
        </ion-row>
          </ion-radio-group>
      </div>
      <div class="size" *ngIf="type !== 'pizza'"> 
          <ion-radio-group>
          <ion-row >
            <ion-col size="2" no-padding>
                <ion-radio mode="md" checked ></ion-radio>
            </ion-col>
            <ion-col size="7" no-padding>
              <p id="size-tag1">{{product?.size}}</p>
            </ion-col>
            <ion-col size="3" no-padding>
              <p id="size-tag">{{product.price}} &euro;</p>
            </ion-col>
            <br> <br>
          </ion-row>
            </ion-radio-group>
        </div>
      <hr>
      <br>
      <ion-row class="counter">
        <ion-col size="5">
            <ion-icon (click)="removeFromQuantity()"
             name="remove-circle-outline" style="float: right; font-size: 2em; color: red; margin-left: 0 !important;"></ion-icon>
        </ion-col>
          <ion-col size="2" no-padding>
              <h2>{{quantity}}</h2>
          </ion-col>
         <ion-col col="5">
            <ion-icon (click)="addToQuantity()"
             name="add-circle-outline" style="float: left; font-size: 2em; color: red; margin-left: 0 !important;"></ion-icon>
         </ion-col>
         
      </ion-row>
    <hr>
      
      <ion-row class="footer">
        <ion-col></ion-col>
            <ion-col>
              <ion-button  class="btn-cart" (click)="cart()">
                <ion-icon name="md-cart" style="font-size:32px;">
                </ion-icon>
              </ion-button>
        </ion-col> 
        <ion-col *ngIf="type === 'pizza' || type === 'pasta'" (click)="openModal()" id="extra-p"><p>Extras</p></ion-col>
        <ion-col *ngIf="type !== 'pizza' && type !== 'pasta'" id="extra-p"><p>&nbsp;</p></ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>
