<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Über uns
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <h3 style="color: grey; text-align: center;">Über uns</h3>
    <p>Serviert werden ausschließlich italienische Spezialitäteten, ob Pasta von Hand gemacht, Fischspezialitäten, Risottovariationen oder auch Pizzen vom Holzofen. Wir legen bei der Zubereitung unserer Speisen einen besonderen Wert auf die Frische und Qualität der Zutaten.</p>
    <br>
    <p>Zahlungsmöglichkeiten</p>
    <p>Wir akzeptieren nur Barzahlung</p>
    <br>
    <p>Bei Fragen, Wünschen oder Anregungen können Sie uns gerne kontaktieren.</p>
    <h6 style="padding-left: 10px;"><b>Telefon:</b> &nbsp; <ion-icon name="call" style="color: rgba(190, 34, 34,0.6); position: relative; top: 4px;"></ion-icon> &nbsp;<a (click)="call('+49911401480')">+49911401480</a></h6>
    <h6 style="padding-left: 10px;"><b>Email:</b> &nbsp; <ion-icon name="mail" style="color: rgba(190, 34, 34,0.6); position: relative; top: 4px;"></ion-icon> &nbsp;<a href="mailto:info@la-trat-toria.de">info@la-trat-toria.de</a></h6>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <h6>Nützliche Links:</h6>
      > <a routerLink="/terms">Allgemeine Geschäftsbedingungen</a>
      <br>
     > <a routerLink="/impressum">Impressum</a>
      <br>
     > <a routerLink="/datenschutz">Datenschutz</a>
  </ion-toolbar>

</ion-footer>