ion-toolbar{
    --background:  rgb(190, 34, 34);
    ion-icon{
        color:white;
        font-size: 26px;
    }
}

ion-content{
    height: 100%;
    width: 100%;
    --background: url("../../../assets/imgs/background1.png");
}

ion-footer{
    ion-toolbar{
      --background: url("../../../assets/imgs/background1.png");   
      padding-left: 10px;
      a{
          padding-left: 10px;
          margin-top:5px;
      }
    }
   
}