<div class="containter">
  <div class="extras">
    <br>
      <ion-list class="setting-content" *ngFor="let item of extras; let i = index;">

          <ion-list-header no-lines class="label-header">Beilagen für {{item.price}} &euro;</ion-list-header>
          <ion-item-group class="fst-group">
            <ion-item no-lines *ngFor="let listt of item?.items; let j = index;">
              <ion-label>{{listt?.display}}</ion-label>
              <div class="quantity" item-right>
                  <ion-icon name="remove-circle-outline" style="font-size: 1.4em;" (click)="removeFromAdded(item?.did, listt?.display)" ></ion-icon>
                  <span style="margin-left: 5px; margin-right: 5px; font-size: 1.4em;">x{{getQuantity(item?.did,listt?.display)}}</span>
                  <ion-icon name="add-circle-outline" style="font-size: 1.4em;" (click)="addToAdded(item?.did,listt?.display,item?.price)"></ion-icon>
              </div>
            </ion-item>
          </ion-item-group>
          </ion-list>
          
          <ion-button *ngIf="extras" id="btn-done" (click)="closeModal()">Done</ion-button>
  </div>

</div>