.containter{
    height: 100% !important;
    width: 100% !important;
    background: white;
    // border-top-left-radius: 5% !important;
    // border-top-right-radius: 5% !important;
}

.extras{
    height: 85% !important;
    width: 100% !important;
    background: white !important;
    // border-top-left-radius: 5% !important;
    // border-top-right-radius: 5% !important;
    overflow-y: scroll;
}

#btn-done{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    --background:  rgb(190, 34, 34);
}
ion-list{
   margin-top: 5%;
   margin-bottom: 1%;
}
.label-header{
    font-weight: bolder !important;
    font-size: 1.4em;
    margin-top: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.setting-content{
    --width: 85% !important;
    widows: 80% !important;
    // border-top-left-radius: 5% !important;
    // border-top-right-radius: 5% !important;
}

.quantity{
    color: gray !important;
}

.quantity > span{
    position: relative;
    top: -3px;
}

#btn-done{
    position: fixed;
    bottom: 4%;
    left: 30%;
    right: 30%;
}
