<ion-content padding>
    <ion-list class="setting-content">

      <ion-list-header no-lines>Type of dough</ion-list-header>
      <ion-item-group class="fst-group">
        <ion-item no-lines>
          <ion-label>Pan</ion-label>
          <ion-checkbox item-right></ion-checkbox>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Thin & Crispy</ion-label>
          <ion-checkbox item-right></ion-checkbox>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Classic Crast</ion-label>
          <ion-checkbox item-right></ion-checkbox>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Stuft Crast</ion-label>
          <ion-checkbox item-right></ion-checkbox>
        </ion-item>
        <ion-item no-lines>
          <ion-label>Cheesy End</ion-label>
          <ion-checkbox item-right></ion-checkbox>
        </ion-item>
      </ion-item-group>
      </ion-list>
      
      <ion-button id="btn-done" (click)="closeModal()">Done</ion-button>
</ion-content>