ion-toolbar{
    --background: rgb(190, 34, 34);
    font-family: 'BubblegumSans-Regular';
  }
  ion-title{
    --color: white;
    
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 90px 1px;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  ion-menu-button{
    color: white;
  }
ion-content{
    height: 100%;
    width: 100%;
    --background: url("../../../assets/imgs/background1.png");
}

.container{
    width: 100%;
    height: 100%;
    display: block;
}

.noItems{
    width: 100%;
    display: inline-block;
    position: relative;
    top:35% !important;
    bottom: auto !important; 
}

.body{
    width: 100%;
    height: 100%;
}
