<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="color: white;">
          Bestellhistorie
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="noItems" *ngIf="orders.length === 0">
      <h4 style="color: grey; text-align: center;">Keine bisherigen Bestellungen</h4>
    </div>
    <div class="body" id="pastOrders" *ngIf="orders.length > 0">
      <h3 style="color: grey; text-align: center;">Ihre bisherigen Bestellungen</h3>
      <h4 style="text-align: right;"><span (click)="clear()">Löschen</span><ion-icon name="trash" (click)="clear()" style="position: relative; top: 4px; color: rgb(206, 73, 73);"></ion-icon></h4>
        <accordion>
            <accordion-group *ngFor="let item of orders" heading="{{item?.name}} ({{extractDate(item?.date)}})">
                <ion-list style="background: transparent;">
                    <ion-list-header>
                      <ion-label style="font-size: 1.1em;">Total: {{item?.total | number : '1.2-2'}} &euro; <span *ngIf="item.deliveryFee">
                        Lieferkosten: {{item?.deliveryFee | number: '1.2-2'}}
                      </span>
                    <span *ngIf="item.discount">
                      Rabatt: {{item?.discount | number: '1.2-2'}} &euro;
                    </span> </ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let order of item.orderDetails; let i = index;" style="--background: transparent;">
                      <ion-row style="width: 100%;">
                        <ion-col size="4">Produkt: {{order?.itemTitle}}</ion-col>
                        <ion-col size="4">Menge: {{order?.quantity}}</ion-col>
                        <ion-col size="4">Preis: {{order?.price | number: '1.2-2'}} &euro;</ion-col>
                      </ion-row>
                    </ion-item>
                    <br>
                    <h5 style="text-align: center;"><a (click)="reorder(item)" >Erneut Bestellen</a></h5>
                  </ion-list>
            </accordion-group>
        </accordion>
    </div>
  </div>
</ion-content>
