<ion-header style="z-index: -1;">
  <ion-toolbar>
      <ion-row>
        <ion-col size="2" id="back">
          <ion-buttons>
            <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col size="7">
          <ion-title>
            Kasse
          </ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <br>
    <h1><b style="color:rgb(190, 34, 34)">Total</b> : {{total | number : '1.2-2'}} &euro;</h1>
    <br>
      <ion-row padding >
          <ion-col size="2">
            <ion-icon name="person" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
          </ion-col>
          <ion-col col="10">
            <ion-input type="text" placeholder="Name" [(ngModel)]="data.name"
              style="border-bottom: 1px rgba(190, 34, 34,0.6) solid; position: relative; bottom: 13px;">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row padding >
            <ion-col size="2">
              <ion-icon name="mail" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
            </ion-col>
            <ion-col col="10">
              <ion-input type="email" placeholder="Email" [(ngModel)]="data.email"
                style="border-bottom: 1px rgba(190, 34, 34,0.6) solid; position: relative; bottom: 13px;">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row padding >
              <ion-col size="2">
                <ion-icon name="mail-open" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
              </ion-col>
              <ion-col col="10">
                <ion-textarea  placeholder="Adresse" [(ngModel)]="data.address"
                  style="border-bottom: 1px rgba(190, 34, 34,0.6) solid; position: relative; bottom: 13px;">
                </ion-textarea>
              </ion-col>
            </ion-row>
            <ion-row padding >
                <ion-col size="2">
                  <ion-icon name="phone-portrait" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
                </ion-col>
                <ion-col col="10">
                  <ion-input type="text" placeholder="Telefon" [(ngModel)]="data.phone"
                    style="border-bottom: 1px rgba(190, 34, 34,0.6) solid; position: relative; bottom: 13px;">
                  </ion-input>
                </ion-col>
              </ion-row>
            <ion-row padding >
                <ion-col size="2">
                  <ion-icon name="book" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
                </ion-col>
                <ion-col col="10">
                  <ion-textarea  placeholder="Notizen" [(ngModel)]="data.notes"
                    style="border-bottom: 1px rgba(190, 34, 34,0.6) solid; position: relative; bottom: 13px;">
                  </ion-textarea>
                </ion-col>
              </ion-row>
              <ion-row padding  >
                  <ion-col size="2">
                    <ion-icon name="mail-unread" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
                  </ion-col>
                  <ion-col col="10"  style="border-bottom: 1px rgba(190, 34, 34,0.6) solid;">
                      <ion-select placeholder="Postleitzahl" [(ngModel)]="selectCode" cancelText="Abbrechen" (ngModelChange)="setNewPrice($event)" [disabled]="terms">
                          <ion-select-option value="{{item.did}}" *ngFor="let item of zips">{{item?.code}} ({{item?.area}})</ion-select-option>
                        </ion-select>
                  </ion-col>
                </ion-row>
                  <ion-row padding  >
                    <ion-col size="2">
                      <ion-icon name="document" style="color:rgba(190, 34, 34,0.6);"></ion-icon>
                    </ion-col>
                    <ion-col col="10" style="border-bottom: 1px rgba(190, 34, 34,0.6) solid;">
                        <ion-select placeholder="Bewirtungsbeleg" [(ngModel)]="data.voucher" >
                            <ion-select-option value="Ja" >Ja</ion-select-option>
                            <ion-select-option value="Nein" >Nein</ion-select-option>

                          </ion-select>
                    </ion-col>
                  </ion-row>
                  <!-- <ion-row id="checkbox"><ion-checkbox mode="ios" [(ngModel)]="terms" color="danger" (ngModelChange)="statusChange($event)" ></ion-checkbox ><p (click)="changeStatus()">Schnell wie möglich.</p></ion-row> -->
                  <ion-row padding >
                    <ion-col size="2">
                      <ion-icon name="clock" style="color:rgba(190, 34, 34,0.6); position: relative; top: 50%;"></ion-icon>
                    </ion-col>
                    <ion-col col="10" style="border-bottom: 1px rgba(190, 34, 34,0.6) solid;">
                      <p>Für wann möchtest du bestellen?</p>
                      <!-- <br> -->
                      <ion-row id="checkbox"><ion-checkbox mode="ios" [(ngModel)]="now" color="danger" (ngModelChange)="statusChange1($event)" style="margin-left: 0px;" ></ion-checkbox ><p (click)="changeStatus1()">Schnellstmöglich</p></ion-row>
                        <br>
                        <ion-datetime [disabled]="now" display-format="MMM DD, YYYY HH:mm" doneText="Ok" cancelText="Abbrechen"
                        monthShortNames="Jan,Feb,Mrz,Apr,Mai,Jun,Jul,Aug,Sep,Okt,Nov,Dez"
                        [(ngModel)]="data.preOrder" placeholder="Pick a Date, Time"></ion-datetime>
                    </ion-col>
                  </ion-row>
              <ion-row id="checkbox"><ion-checkbox mode="ios" [(ngModel)]="terms" color="danger" (ngModelChange)="statusChange($event)" ></ion-checkbox ><p (click)="changeStatus()">Ich möchte die Bestellung abholen.</p></ion-row>
                <ion-button expand="full" id="btncheck" slot="end" color="danger" (click)="order()" >Bestellung abschicken</ion-button>

  </div>

</ion-content>
