ion-toolbar{
    --background: rgb(190, 34, 34);
    
  }
  #main-header{
    color: white;
    text-align: center;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 22px;
  }
  
  ion-icon{
    color: white;
    font-size: 24px;
    margin-left: 10%;
    padding-top: 2%;
  }
ion-content{
    height: 100%;
    width: 100%;
    --background: url("../../../assets/imgs/background1.png");
}

.container{
    width: 100%;
    height: 100%;
    h1{
        font-size: 18px;
        margin-top: 10%;
        text-align: center;
    }
}

#checkbox{
    width: 80%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    ion-checkbox{
        vertical-align: middle;
        margin-left: 5%;
        margin-right: 4%;
        height: 20px;
        width: 20px;    
    }
    p{
        margin: 0%;
        font-size: 14px;
    }
}