ion-toolbar{
  --background: rgb(190, 34, 34);
}
ion-title{
  --color: white;
  
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
ion-menu-button{
  color: white;
}
.body{
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/imgs/background1.png");
}
.pizza{
  height: 40%;
  width: 100%;
  img{
    width: 100%;
    height: 100%;
  }
}
.pizza .caption{
  z-index: 111;
  background: #DED7CF;
  color: black;
  opacity: 0.8;
  font-size: 28px;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-top: -16%;  
  width: 45%;
  text-align: center;
}

@media (min-width: 320px) and  (max-width: 350px){
  .caption{
    margin-top: -20% !important;
    z-index: 111;
    background: #DED7CF;
    color: black;
    opacity: 0.8;
    font-size: 20px !important;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 45%;
    text-align: center;
  }
}

@media (min-width: 760px) and  (max-width: 1200px){
  .pizza .caption{
    z-index: 111;
    background: #DED7CF;
    color: black;
    opacity: 0.8;
    font-size: 28px;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-top: -8%;  
    width: 45%;
    text-align: center;
  }
}